:root {
	--verde-principal: #03bb85;
	--verde-secundario: #038554;
	--verde-complementario: #68ddbd;
	--negro-background: #101010;
	--negro-complementario: #050505;
}

body {
	font-size: 1.6rem;
	font-family: 'Plus Jakarta Sans', sans-serif;
	background-color: var(--negro-background);
	color: var(--verde-principal);
}
html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	line-height: 1.5;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	/* background-color: transparent; */
	padding: 1rem;
	font-weight: 600;
	transition: all ease 0.3s;
}

.contenedor {
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
}

div [id] {
	scroll-margin-top: 8rem;
}

.swal2-image {
	max-width: none;
}

.swal2-popup {
	width: 85em !important;
}

/* Navegacion */

.contenedor__header {
	max-width: 100%;
}
.navegacion {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--negro-complementario);
	padding: 1rem 0;
}

@media (min-width: 768px) {
	.navegacion {
		flex-direction: row;
		position: sticky;
		padding: 2rem 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.navegacion__link:hover {
	color: var(--negro-complementario);
	background-color: var(--verde-principal);
	border-radius: 1rem;
	display: block;
	width: 100%;
	text-align: center;
}

@media (min-width: 768px) {
	.navegacion__link:hover {
		display: inline-block;
		width: auto;
	}
}

.navegacion__link--cv {
	margin-top: 2rem;
	background-color: var(--verde-principal);
	color: var(--negro-complementario);
	border-radius: 1rem;
	transition: all ease 0.3s;
}

@media (min-width: 768px) {
	.navegacion__link--cv {
		margin-top: 0;
	}
}

.navegacion__link--cv:hover {
	transform: scale(1.2);
	background-color: var(--verde-secundario);
}

/* Saludo */

.imagen__hero {
	background-image: none;
	color: var(--verde-secundario);
	width: 100%;
	height: 70rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px) {
	.imagen__hero {
		background-image: url(./img/hero_2.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 95rem;
	}
}

@media (min-width: 992px) {
	.imagen__hero {
		height: 60rem;
	}
}

.typing-animation {
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	white-space: wrap;
}

@media (min-width: 768px) {
	.typing-animation {
		font-size: 3rem;
	}
}

.typing-animation__text {
	animation: typing 3s steps(40, end);
	animation-iteration-count: infinite;
	color: var(--verde-complementario);
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* Scrollbar */

* {
	scrollbar-width: thin;
	scrollbar-color: #038554 #050505;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.6rem;
}

*::-webkit-scrollbar-track {
	background: #101010;
}

*::-webkit-scrollbar-thumb {
	background-color: #038554;
	border-radius: 0.5rem;
}

/* Sobre mi */

.sobremi {
	height: 95rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@media (min-width: 768px) {
	.sobremi {
		height: 95rem;
	}
}

@media (min-width: 992px) {
	.sobremi {
		height: 60rem;
	}
}

.sobremi__titulo {
	text-align: center;
	font-size: 5rem;
	margin: 0;
}

.contenedor__sobremi {
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 992px) {
	.contenedor__sobremi {
		flex-direction: row;
	}
}

.sobremi__imagen {
	margin-top: 5rem;
	width: 25rem;
	border-radius: 3rem;
	border: 3px solid var(--verde-principal);
}

@media (min-width: 992px) {
	.sobremi__imagen {
		margin-top: 0;
	}
}

/* Habilidades y Tecnoligias */

.skills {
	margin-top: 5rem;
	height: 110rem;
}

@media (min-width: 768px) {
	.skills {
		height: 80rem;
	}
}

@media (min-width: 992px) {
	.sobremi {
		margin-top: 7rem;
		height: 60rem;
	}
}

.skills__titulo {
	text-align: center;
	font-size: 5rem;
	margin: 0;
}

.skills__descripcion {
	margin-top: 2rem;
	text-align: center;
}

.skills__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	margin-top: 5rem;
	justify-items: center;
	/* align-items: center; */
	text-align: center;
}

@media (min-width: 768px) {
	.skills__grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 992px) {
	.skills__grid {
		grid-template-columns: repeat(6, 1fr);
	}
}

.skills__svg {
	width: 10rem;
	/* height: 10rem; */
	padding: 2rem;
}

.skills__herramientas {
	transition: all ease 0.3s;
	font-weight: 600;
}

.skills__herramientas:hover {
	background-color: var(--verde-principal);
	border-radius: 1rem;
	color: var(--negro-complementario);
}

/* Portafolio */

.portafolio {
	margin-top: 5rem;
	height: 200rem;
}

@media (min-width: 768px) {
	.portafolio {
		height: 110rem;
	}
}

@media (min-width: 992px) {
	.portafolio {
		height: 60rem;
	}
}

.portafolio__titulo {
	text-align: center;
	font-size: 5rem;
	margin: 0;
}

.portafolio__descripcion {
	text-align: center;
	margin-top: 1rem;
}

.portafolio__grid {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-items: center;
	gap: 2rem;
}

@media (min-width: 768px) {
	.portafolio__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 992px) {
	.portafolio__grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

.portafolio__proyecto {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portafolio__imagen {
	width: 25rem;
	border-radius: 1rem;
	height: 12rem;
}

.portafolio__subtitulo {
	text-align: center;
	margin: 0 0 1rem 0;
	font-weight: 600;
}

.portafolio__boton {
	display: block;
	width: 100%;
	font-weight: 600;
	margin-top: 1rem;
	padding: 1rem;
	border: 2px solid var(--verde-principal);
	border-radius: 1rem;
	color: var(--verde-principal);
	background-color: var(--negro-complementario);
	transition: all ease 0.3s;
	cursor: pointer;
}

.portafolio__boton:hover {
	border: 2px solid var(--negro-complementario);
	color: var(--negro-complementario);
	background-color: var(--verde-principal);
}

/* Certificados */

.certificado {
	margin-top: 2rem;
	height: 200rem;
}

@media (min-width: 768px) {
	.certificado {
		height: 85rem;
	}
}

@media (min-width: 992px) {
	.certificado {
		height: 60rem;
	}
}

.certificado__titulo {
	text-align: center;
	font-size: 5rem;
	margin: 0;
}

.certificado__descripcion {
	text-align: center;
	margin-top: 1rem;
}

.certificado__grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	justify-items: center;
	margin-top: 2rem;
}

@media (min-width: 768px) {
	.certificado__grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 992px) {
	.certificado__grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

.certificado__contenido {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.certificado__imagen {
	width: 20rem;
	height: 15rem;
	border-radius: 1rem;
}

.certificado__boton {
	display: block;
	width: 100%;
	font-weight: 600;
	margin-top: 1rem;
	padding: 1rem;
	border: 2px solid var(--verde-principal);
	border-radius: 1rem;
	color: var(--verde-principal);
	background-color: var(--negro-complementario);
	transition: all ease 0.3s;
	cursor: pointer;
}

.certificado__boton:hover {
	border: 2px solid var(--negro-complementario);
	color: var(--negro-complementario);
	background-color: var(--verde-principal);
}

/* Contacto */

.contenedor__footer {
	text-align: center;
	/* margin-top: 2rem; */
	padding: 1rem 0;
	background-color: var(--negro-complementario);
	width: 100%;
}
